
    <article class="content dashboard-page">
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-sm-3">
                    <div class="card card-block sameheight-item">
                        <div class="title-block">
                            <h3 class="title"> Azure Credentials </h3>
                        </div>
                        <form method="post" action="{{ url_for('index') }}">
                            {{ form.hidden_tag() }}
                            <div class="form-goup">
                                <label class="control-label">Azure Namespace</label>
                                {{ form.namespace(class="form-control")}}
                            </div>
                            <div class="form-goup">
                                <label class="control-label">SAS Name</label>
                                {{ form.sasName(class="form-control")}}
                            </div>
                            <div class="form-goup">
                                <label class="control-label">SAS Value</label>
                                {{ form.sasValue(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class=flashes>
                                        {% for message in messages %}
                                            <li>{{message}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </article>
