<script type=text/javascript>
    $(function() {        
        $('.move').bind('click', function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'POST',
            })
        });
    });
</script>

<div class="modal-header">
    <h4 class="modal-title">Move Robot : {{ ipAddress }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form method="post">
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
                <button type="button"
                    name="North"
                    value="North"
                    id="North"
                    data-url="{{ url_for('robot_keys', direction='North') }}"
                    class="btn btn-primary move">
                N
                </button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
                <button type="button" 
                    class="btn btn-primary mr-2 move"
                    data-url="{{ url_for('robot_keys', direction='West') }}">
                    W
                </button>
                <button type="button"
                    data-url="{{ url_for('robot_keys', direction='East') }}"
                    class="btn btn-primary ml-2 move">
                    E
                </button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
                <button type="button"
                    data-url="{{ url_for('robot_keys', direction='South') }}"
                    class="btn btn-primary move">
                    S
                </button>
            </div>
        </div>
        <div class="d-flex flex-row float-right">
            <div class="p-2">
                <button type="button"
                    name="Stop"
                    data-url="{{ url_for('robot_keys', direction='STOP') }}"
                    class="btn btn-danger move">
                    STOP
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>