<article class="content dashboard-page">
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-sm-3">
                <div class="card card-block sameheight-item">
                    <div class="title-block">
                        <h3 class="title"> Add Robot </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-block sameheight-item">
                    <div class="title-block">
                        <h3 class="title"> Show Robots </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>